---
permalink: /apps/
title: "brainlife apps"
excerpt: "brainlife applications that I developed"
author_profile: true
redirect_from: 
  - /blApps/
  - /blApps.html
  - /apps.html

---

Here, you'll find a showcase of various applications that I developed for the <a href="https://brainlife.io/about/">brainlife.io</a> neuroimage data processing platform.  Currently only a few are listed, but over time more of these will be added here. 
<br/><br/>
<style>
    .grid { 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      align-items: stretch;
      }
    .grid > article {
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }
    .grid > article img {
      max-width: 100%;
      min-width: 100%;
      min-height: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    .text {
      padding: 5px 10px 5px;
    }
    .text > button {
      background: gray;
      border: 0;
      color: white;
      padding: 10px;
      width: 100%;
      }
    </style>

<main class="grid">
    {% for app in site.apps %}
        <article class="app">
            <div style="height:100%; position:relative">
                <div>
                    {% if app.image %}
                        <img src="{{app.image}}">
                    {% else %}
                    {% endif %}
                </div>
                <div class="text" style="font-size:.75vw;">
                    <h1 class="app-title" style="font-size:.75vw;"><a href="{{app.linkname | prepend: site.baseurl}}">{{app.title}}</a></h1>
                    <p style="font-size:.5vw;">{{app.description}}</p>
                </div>
                <div class="bottom-material" style="position:absolute; bottom:0">
                  <div class="datatypes" style="font-size:.5vw; padding: 0px 10px 0px">
                      <b>Inputs</b>: 
                      {% for datatype in app.in_datatypes %}
                          {{datatype}}
                      {% endfor %}
                      <br />
                      <b>Outputs</b>:
                      {% for datatype in app.out_datatypes %}
                          {{datatype}}
                      {% endfor %}
                  </div>
                  <div class="links" style="font-size:.5vw; white-space: nowrap; padding: 5px 0px 0px; align-self: self-end; margin-top: auto" >
                      <a href="{{app.github_url | prepend: 'https://github.com/'}}"><img style="width: 100%; object-fit: revert; aspect-ratio: revert;" src="{{app.github_url | append: '.svg' | prepend: 'https://gh-card.dev/repos/'}}" alt="{{app.github_url | append: ' - GitHub' }}"></a>
                      <br />
                      <a href={{app.bl_url}}><img style="width: 100%; object-fit: revert; aspect-ratio: revert; overflow: hidden" src= "https://raw.githubusercontent.com/brainlife/docs/master/docs/img/media/brainlife.io.png"></a>
                  </div>
                </div>
            </div>
        </article>
    {% endfor %}
</main>