---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<html>
<body>
<div style="border: 1px solid rgb(33, 75, 75  ); border-radius:30px; box-shadow: 5px 5px 5px 5px rgb(33, 75, 75)   ">Here you'll find a selection of projects or products that I've worked on over the years. Click on an entry to find a short description of the product and a link to the relevant GitHub repository or interface.</div>
</body>
</html>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

